<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body class="signup-body">
    <%- include("../partials/nav") %>
    <main class="signup-main">
        <form class="signup-form" action="/user/signup" method="post">
            <h1 class="h1-signup">Sign up</h1>
            <input class="signup-input" type="text" placeholder="username" name="username" >
            <input class="signup-input" type="password" placeholder="password" name="password"/>
            <input class="signup-input submit" type="submit" value="Sign up"/>
        </form>
    </main>
    <%- include("../partials/bootstrap") %>
    <footer></footer>
</body>
</html>